{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<center>
	<h3>{{user.Firstname  }}</h3>
	</center>
</head>
<body>
	{% block content %}
	<div>
		<form action="{% url 'appLabour:ChangePassword' user.id %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<center>
				<table style="margin-top: 80px;">
					{{ form.as_table  }}
				</table>
				<br>
				<input type="submit" name="Submit" value="Submit">
			</center>
			
		</form>
			
		

	</div>
	{% endblock %}

</body>
</html>